APP_NAME=Real-Time AI Chat Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
CORS_ORIGINS=["http://localhost:3000","http://localhost:8080"]
DATABASE_URL=postgresql+asyncpg://chat:chat@postgres:5432/chatdb
REDIS_URL=redis://redis:6379/0
JWT_SECRET_KEY='5de789009c90a062204c548ede7e611901e4395c256ac5030c9f9e0eb33866fc'
JWT_REFRESH_SECRET_KEY='5546a0fc14577bc4f1a2e21f3999fd463216ee8f756fbfe481a0c6b8da09d472'
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
BCRYPT_ROUNDS=12